html, body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

.home {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.home__main {
  flex: 1;
  display: flex;
  flex-wrap: wrap; /* Permite que os elementos se ajustem em várias linhas */
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  background-color: var(--bg);
}

.home__hero {
  text-align: center;
  width: 100%; /* Garante que ocupe toda a largura */
}

.home__hero h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: var(--header-bg);
}

.home__hero p {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #555;
}

.home__cta {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: var(--accent);
  text-decoration: none;
  border-radius: 5px;
}

.home__cta:hover {
  background-color: var(--primary);
}

.home__footer {
  text-align: center;
  padding: 10px 20px;
  background-color: #282c34;
  color: #61dafb;
}

.home__component {
  width: 100%;
  max-width: 600px; /* Limita a largura máxima dos componentes */
  margin: 10px;
  box-sizing: border-box; /* Garante que padding e bordas não aumentem a largura */
}

@media (max-width: 768px) {
  .home__main {
    flex-direction: column; /* Em telas pequenas, organiza os componentes em coluna */
    align-items: center;
  }

  .home__component {
    width: 90%; /* Faz os componentes ocuparem 90% da largura da tela */
  }
}
