/* MarketCap.css */

.market-cap {
  background-color: var(--dark-bg);
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

.label {
  font-size: 14px;
  font-weight: bold;
  margin-right: 5px;
}

.price,
.variation {
  font-size: 16px;
}

.green {
  color: var(--success);
}

.red {
  color: var(--danger);
}
