.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--header-bg);
}

.header__text {
  font-size: 1.5em; /* Texto menor */
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px; /* Ajuste de espaçamento das letras */
  position: relative;
  display: flex;
  align-items: center;
  text-shadow: 0 0 5px var(--neon), 0 0 10px var(--neon), 0 0 15px var(--neon); /* Efeito neon nas letras */
  transition: text-shadow 0.3s ease-in-out; /* Suaviza o efeito */
}

.header__text:hover {
  text-shadow: 0 0 20px var(--neon), 0 0 30px var(--neon), 0 0 40px var(--neon); /* Intensifica o brilho no hover */
}

.header__nav {
  display: flex;
}

.header__nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__nav-item {
  margin-left: 20px;
}

.header__nav-link {
  text-decoration: none;
  color: var(--accent);
  font-size: 16px;
}

.header__nav-link:hover {
  color: var(--primary);
}
